html {
    font-family: 'Open Sans', sans-serif;
}

.calculator-container {      
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.37);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.37);
    background-color: rgba(26,27,40);
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}

.display {
    background-color: rgba(26,27,40);
    height: 10rem;               
    padding: 1rem;
}

.display-input {
    width: 26.5rem;
    height: 100%;
    background-color: rgba(26,27,40);
    border: none;
    color: white;
    font-size: 4rem;
    pointer-events: none;   
    display: flex; 
    text-align: right;
}

.history-input{
    width: 26.5rem;
    border: none;
    background-color: rgba(26,27,40);
    height: 2rem;        
    display: flex; 
    text-align: right;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-top: 0.3rem solid rgba(29,33,48);
    pointer-events: none;   
}


button {
    border: none;
    outline: none;   
    border-radius: 1rem; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
    margin:0.5rem;
    color: white;    
}

button:hover {
    background-color: white;
    color: rgba(1,60,82);
    transition: ease-in-out 0.3s;
    cursor: pointer;
}


.row {
    display: flex;
    flex-direction: row;
}


.operator {
    background-color: #52c9dc;    
    font-size: 2rem;
    font-weight: 400;   
    height: 6rem;
    width: 6rem;       
}


.number {
    background-color: rgba(30,36,53);
    font-size: 2rem;
    font-weight: 400;   
    height: 6rem;
    width: 6rem;     
}


.equal {
    background-color: #52c9dc;    
    width: 13rem;
    height: 6rem;   
    font-size: 3rem;  
}



/*
-------------
    Footer
-------------
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #fff;
    font-size: 1rem;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;    
    z-index: 999;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
    margin: 0.4%;
    transition: all 0.3s ease;   
}

footer a:hover{
    color: var(--primary);
}

/* ----------------
    Media Queries
------------------*/

/* Pantallas extra grandes (desktops de mas de 1400px) */
@media (min-width: 1440px) {     
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;        
        background: linear-gradient(130deg, rgba(0,131,194,1) 34%, rgba(2,193,219,1) 100%, rgba(0,212,255,0) 100%);
    }       
}



/* Pantallas extra grandes (desktops de menos de 1400px) */
@media (max-width: 1440px) {     
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;     
        background: linear-gradient(130deg, rgba(0,131,194,1) 34%, rgba(2,193,219,1) 100%, rgba(0,212,255,0) 100%);
    }        
}


/* Pantallas grandes (desktops de menos de 1200px) */
@media (max-width: 1200px) { 

    .display {     
        height: 6rem;               
        padding: 1rem;
    }
    
    .display-input {
        width: 22rem;       
        font-size: 4rem;        
    }
    
    .history-input{
        width: 22rem;       
        height: 2rem;          
        font-size: 2rem;
        padding: 1rem;       
    }    
    
    button {       
        border-radius: 0.8rem;       
        margin:0.5rem;        
    }       
    
    .operator {       
        font-size: 2rem;
        font-weight: 400;   
        height: 5rem;
        width: 5rem;       
    }
    
    
    .number {        
        font-size: 2rem;
        font-weight: 400;   
        height: 5rem;
        width: 5rem;     
    }    
    
    .equal {       
        width: 11rem;
        height: 5rem;   
        font-size: 3rem;  
    }
    

}

/* Pantallas medianas (tablets de menos de 992px) */
@media (max-width: 992px) { 
}

/* Pantallas pequeñas (móviles en landscape de menos de 768px) */
@media (max-width: 768px) { 


}

@media (min-width: 577px) { 
}

/* Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
@media (max-width: 576px) {

    body {       
        background: rgba(26,27,40);
    }

    .calculator-container {      
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: rgba(26,27,40);
        padding: 0.5rem;       
    }

}


/* Pantallas muy muy pequeñas (móviles en portrait de menos de 375px) */
@media (max-width: 375px) {

    body {          
        background: rgba(26,27,40);
    }

    .calculator-container {      
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: rgba(26,27,40);
        padding: 0.5rem;   
        margin-bottom: 0.5rem;    
    }

    .display {     
        height: 5rem;               
        padding: 1rem;
    }
    
    .display-input {
        width: 18rem;       
        font-size: 4rem;        
    }
    
    .history-input{
        width: 18rem;       
        height: 2rem;          
        font-size: 2rem;
        padding: 1rem;       
    }    
    
    button {       
        border-radius: 0.8rem;       
        margin:0.5rem;        
    }       
    
    .operator {       
        font-size: 2rem;
        font-weight: 400;   
        height: 4rem;
        width: 4rem;       
    }
    
    
    .number {        
        font-size: 2rem;
        font-weight: 400;   
        height: 4rem;
        width: 4rem;     
    }    
    
    .equal {       
        width: 9rem;
        height: 4rem;   
        font-size: 3rem;  
    }
    
}
